.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.container a{
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	width: 50%;
	height: 50%;
    opacity: 0.4;
}
.container a:hover,.container a:focus{
    opacity: 1;
}
.container a:hover ~ .card,.container a:focus ~ .card{
    opacity: 1;
}

.card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(135deg,#FC8 0,#FC8 15px,transparent 0,transparent 30px);
    opacity: 0.4;
}

.container a:nth-child(1):hover ~.transform{
    transform-origin: right bottom;
    transform: rotateX(10deg) rotateY(-10deg) translateZ(0);
}
.container a:nth-child(2):hover ~.transform{
    transform-origin: left bottom;
    transform: rotateX(10deg) rotateY(10deg) translateZ(0);
}
.container a:nth-child(3):hover ~.transform{
    transform-origin: left top;
    transform: rotateX(-10deg) rotateY(10deg) translateZ(0);
}
.container a:nth-child(4):hover ~.transform{
    transform-origin: right top;
    transform: rotateX(-10deg) rotateY(-10deg) translateZ(0);
}

.transition{
    transition: all 300ms ease-in-out;
}


/* for note */
.container{ margin: auto;width: 600px;height: 400px; background: transparent;}
.container a{color: white;
    font-size: 64px; font-weight: bold;
    background: repeating-linear-gradient(45deg,#009688 0,#009688 15px,transparent 0,transparent 30px);
    background-repeat: no-repeat;
}
.container .card{
    color: black;
    font-size: 64px; font-weight: bold;
}

.clear a{
    background: transparent;
}
